body {
  background-color: beige;
  color: darkslategray;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Noto Sans CJK JP", "Yu Gothic Medium", YuGothic, Meiryo, sans-serif;
  margin: 0;
  overflow-wrap: break-word;
  text-align: center;
}
header {
  border-bottom: 1px dashed darkslategray;
  padding: 2em;
}
section {
  line-height: 2em;
  margin: 1.5em 1em;
}
footer {
  border-top: 1px dashed darkslategray;
}
a {
  color: darkslategray;
  text-decoration: underline;
}
