body {
  color: #002b36;
  background-color: beige;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Noto Sans CJK JP", "Yu Gothic Medium", YuGothic, Meiryo, sans-serif;
  margin: 0;
  overflow-wrap: break-word;
  text-align: center;
}

header {
  border-bottom: 1px dashed #002b36;
  padding: 1em;
}
article {
  line-height: 2em;
  padding: 0 2em;
}
footer {
  border-top: 1px dashed #002b36;
}
section {
  line-height: 2em;
  margin: 1.5em 0;
}

table {
  margin: auto;
}
th,td {
  font-weight: normal;
  padding: 0 1em;
}
a {
  color: #002b36;
  text-decoration: underline;
}
